.body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
}
.header {
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.header__top {
    height: 50px;
    font-size: 1.6rem;
    justify-content: space-between;
}
.header__top-left {
    background-color: var(--primary-color-1);
}

.header__top-left ul {
    padding: 0;
    
}
.header__top-left ul li {
    display: block;
    
}
.header__top-left ul li a {
    display: block;
    padding: 12px 24px;
    color: var(--white-color);
}

.header__top-left ul li a :hover {
    color: var(--white-color);
}
.header__top-right {
    padding: 12px 24px;
}
.top-right-search {
    margin: 0 8px;
}
.top-right-search-icon {
    padding: 4px;
    color: var(--text-color);
    font-size: 1.6rem;
}
.top-right-search-icon:hover {
    cursor: pointer;
}
.header__main {
    margin: 24px 0 0 0;
}
.header__main .menu {

}
.header__main .menu ul {

}
.header__main .menu ul li {

}
.header__main .menu ul li a  {
    padding: 12px 24px;
    color: var(--text-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}
.header__main .menu-logo {

}

.header__main .menu-logo img {
    width: 100px;
}

.header__bottom {

}
.header__bottom .login{
    padding: 12px 24px;
}
.header__bottom .login a {
    color: var(--primary-color-1);
    font-size: 1.6rem;
}

.header__bottom i{
    font-size: 1.6rem;
    margin: 4px 8px;
}
.header__bottom  .cart{
    padding: 12px 24px;
}
.header__bottom  .cart a {
    color: var(--primary-color-1);
    font-size: 1.6rem;
}

.main {
    /* margin-top:var(--main-margin); */
}

.main .banner {
    padding: 24px 48px;
}

.main .section {
    margin: 16px 24px;
}
.section .section-title {
    color: var(--primary-color-1);
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    display: inline;
    padding-left: 8px;
}

.category {
    margin: 8px 0;
    padding: 8px 12px;
}

.product {
    margin: 8px 0;
    padding: 8px 12px;
}

.product-item {

}

.product-link {
    margin-right: 8px;
    display: block;
    overflow: hidden;
    position: relative;
    transform-origin: center;
    transition: all linear 0.7s;
    will-change: transform;
}

.product-img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.category img, .product img {
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
}

.category-title {
    color: var(--text-color);
}

.product-title {
    color: var(--primary-color-2);
}
.product-price {
    font-size: 1.6rem;
}

.product-category {
    margin-top: 16px;
}

.blog {
    margin: 8px 0;
    padding: 8px 12px;
}


.blog .blog-link {
    padding: 4px 8px;
    font-size: 1.6rem;
    color: var(--text-color);
}

.blog .blog-icon {
    padding: 8px 0;
    width: 2%;
}
.footer {
    margin: 72px 0 0 0;
    padding: 12px 24px;
    background: var(--primary-color-1);
}

.footer__left {
    padding: 12px 24px;
}

.footer__left h2, .footer__right h2 {
    color: var(--white-color);

}

.footer__left p, .footer__right p {
    color: var(--white-color);
    font-size: 1.6rem;
}

.footer__left ul {
    padding: 8px 12px;
}

.footer__left ul li a {
    color: var(--white-color);
    font-size: 1.6rem;
}

.footer__right {
    padding: 12px 24px;
}


/* contact.html css */

.contact {
    margin: 18px 12px;
}

.contact__left {
    font-size: 1.6rem;
}
.contact__left h2 {
    margin: 24px; 
}

.btn-map {
    padding: 8px 24px;
    margin: 18px 12px;
    background-color: var(--primary-color-2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.contact__right {
    margin: 24px 12px;
}

.contact-form input,textarea {
    font-size: 1.6rem;
}


/* cay canh html css */
.menu-left {
    margin: 24px 18px;
}
.menu-left__title {
    margin-left: 26px;
}
.menu-left__list {
    margin: 8px;
    padding: 8px;
}

.menu-left__item {
    
}

.menu-left__item-link {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 8px 12px;
}
.menu-right {
    margin: 24px 18px;
}


/* register html and login */
.register, .login-wrap {
    margin: 24px 0;
}

.register h1 {

}

.form-wrap form input {
    margin: 16px 0;
    padding: 16px 64px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
    background-color: rgb(241, 240, 240);
    outline: none;
    border-radius: 5px;
}

.login__more div{
    font-size: 1.4rem;
    color: var(--text-color);
}

.login__more-link {
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    color: var(--text-color);
}

.login__social {
    margin-top: 36px;
}

.login__social-item {
    position: relative;
    border: 1px solid #333;
    padding: 8px 24px;
    border-radius: 24px;
    margin: 16px 24px;
    font-size: 1.2rem;
    font-style: italic;
}

.login__social-item a {
    margin-left: 42px;
    cursor: pointer;
    text-decoration: none;
}

.login__social-facebook i {
    left: -1px;
    top: 0;
    position: absolute;
    font-size:3.4rem;
    color: #0084FF;
}

.login__social-gmail i {
    left: -1px;
    top: 0;
    position: absolute;
    font-size:3.4rem;
    color: #f34612;
}

.login__social-gmail a {
    color: #f34612;
}


